@import '../../base.scss';

.recent-contacts-container{
  height: 100%;
  overflow: hidden;
  .recent-container {
    overflow-x: hidden;
    overflow-y: auto;
    .recent-scrollable-container {
      height: 100%;
    }
  }
  .contacts-container {
    overflow-x: hidden;
    overflow-y: auto;
    .contacts-scrollable-container {
      height: 100%;
    }
  }
}