@import '../../base.scss';
.rc-button-container {
    flex: 1 1 auto;
    text-align: center;
    color: darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    /* height: 100%; */
    /* &:hover{
        background-color: orange;
    } */
}