@import '../../base.scss';

.rc-chat-container {
  height: 100%;
  grid-area: main-content;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: 
  "toolbar"
  "call-group"
  "chat-content"
  "chat-input";
  padding: 0px;
}
