@import '../../base.scss';
.rc-contact-container {
  position: relative;
  width: 100%;
  height: 100%;
  grid-area: right-sidebar;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: space-between;
}
.flex-spacer {
  flex: 1 1 auto;
}

@media #{$tablet} { 
  .rc-contact-container {
    position: absolute;
    top:0;
    display:flex;
    right: -100vw;
    z-index: 9999;
    /* width: 100vw; */
  }  
}

@media #{$mobile} { 
  .rc-contact-container {
    position: absolute;
    top:0;
    display:flex;
    right: -100vw;
    z-index: 9999;
    /* width: 100vw; */
  }  
}
