@import '../../base.scss';
.rc-side-link-container {
  grid-area: 1 / 1 / 4 / 2;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100px;
  background-color: #26333b;
  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    li {
      flex: 1 1 auto;
      text-align: center;
    }
  }
}